/*body { background-color: red;}*/

#map {
  position: absolute; top: 0px; left: 0px;
  border-radius: 15px ;
  width:  640px;
  height: 480px;
  /*border: 2px solid rgba(0,255,0,0.3);*/
  background-color: rgba(0,0,0,0.3);
}

#infoButton {
  position:absolute;
  bottom:20px;
  right:20px;
}
#doneButton {
  position:absolute;
  top:180px;
  left:340px;
}

#front {
  display:block;
}

#back {
  display:none;
  background: url("Images/backside.png");
  width:  400px;
  height: 200px;
  border: 2px solid rgba(0,0,0,0.3);
  color: white;
  border-radius: 15px;
}
#back .container {
  margin: 10px;
}
#back .option{
  padding: 10px;
}
#back .footer{
  text-align: center;
}
#back .new_version{
  display: none;
  color:red;
  font-size: bold;
}
#back a:visited{
  color:red;
}